nav ul{
    font-size: medium;
    list-style-type: none;
    text-align: center;
}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    padding-left:  20px;
    padding-right: 20px;
    text-align: justify;
    background: 
    url(husvet-hatter.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1{
    font-size: 35px;
    text-align: center;   
}

main{
    background: rgba(0, 138, 138, 0.79);
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 20px 30px 25px 30px;
}

a:link{
    text-decoration: underline;
    color: black;
    
}

a:visited{
    color: red;
}

a:hover{
    color: blue;
}

h2{
    font-size: 30px;
}

p{
    font-size: 17px;
}

.tartalom1{
    border-radius: 7px;
    border-left: solid 2px black;
}

.navigacio{
    margin: 7px;
    padding: 5px;
    display: inline-block;
    
}

.tartalom2{
    border-radius: 7px;
    border-right: solid 2px black;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;;
}

ul{
    list-style-type: circle;
}

.image{
    float: right;
    margin-right: 80px;
}

img{
    border-radius: 15px;

}

.forras p{
    text-align: right;
    font-size: 13px;
}

.keszitette{
    text-align: right;
    font-size: 13px;
}

.vissza{
    font-size: 20px;
    float: left;
}